<!DOCTYPE html>

<html>
    <head>
        <title>Social aggregator</title>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap-theme.css"))'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.icon-large.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">

        <script>
            var require = {
                callback : function() {
                    var momentPath = '@routes.WebJarAssets.at(WebJarAssets.locate("moment.js"))';

                    requirejs.config({
                        paths: { "moment": momentPath},
                        shim: { "moment": { "exports": "moment" } }
                    });
                }
            };
        </script>
        <script>
        @Html(views.RequirePatch.setupJavaScript("/js/lib/"))
        </script>

            <!-- The following can use the WebJars Locator to avoid hard-coding the full path -->
        <script data-main="/assets/js/home" src="/js/lib/requirejs/2.1.10/require.js"></script>
    </head>
    <body>

    </body>
</html>
