@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">
        @Html(org.webjars.play.RequireJS.setup("js/home"))


        <script>
        @Html(org.webjars.RequireJS.getSetupJavaScript("/webjars/"))
        </script>
        @helper.requireJs
            <!-- The following can use the WebJars Locator to avoid hard-coding the full path -->
        <script data-main="/assets/js/home" src="/js/lib/requirejs/2.1.11/require.js"></script>

    </head>
    <body>
        <div id="test">Got it!</div>
    </body>
</html>
